.pytest_cache/
.mypy_cache/
.ruff_cache/
.uv-cache/
.opencode/
.vscode/
.venv/
dist/
.coverage
amphimixis.egg-info/
node_modules/
__pycache__/
build/

config.json
config.yaml
input.yml
amphimixis.log
amphimixis.analyzed

