.pytest_cache/
.mypy_cache/
.ruff_cache/
.uv-cache/
.vscode/
.venv/
dist/
.coverage
amphimixis.egg-info/
node_modules/
__pycache__/
build/

config.json
config.yaml
/input.yml
docs/sphinx/build/
*.log
amphimixis.analyzed
*.egg-info/
*.perfdata*
.uv-cache/
.coverage
