[MAIN]
ignore-path=
    ./tests,
    ./docs

[MESSAGES CONTROL]
disable=
    too-many-instance-attributes,
    too-many-positional-arguments,
    too-many-return-statements,
    too-few-public-methods,
    too-many-locals
