name: Pylint

on: [push, pull_request]

jobs:
  build-Ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run CI
      run: |
        sudo apt install ruby-mdl
        ci/runner.sh       
